
h1 {
	color:red;
	font-family: 'Courier New', Courier, monospace;
}

a {
	 text-decoration: none;
}


rj{
    	color:red;
	font-family: 'Courier New', Courier, monospace;
}


vd{
    color:green;
    font-family: 'Courier New', Courier, monospace;


}
